<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/badges.css" />
    <link href='https://fonts.googleapis.com/css?family=Michroma|Open+Sans' rel='stylesheet' type='text/css'/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

    <title>GreenBuggle</title> 

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/choices"><img src="/images/bugglelogo-w.png" height="35px" align="top" alt="logo"> GreenBuggle</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">        
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Welcome <%= user.name%>!<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/logout">Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </head>

  <body>

    <div class='container' >

      <h1>How green are you?</h1>
      <br>
      <h4><b>Every time you choose to walk or take transit, you earn a leaf!<br>Can you grow a whole tree?<b></h4>

      <div id="tree" style="width:600px;position:relative;">

        <% var totalTrips = 0 %>
        <% db.forEach(function (trip){ 
          totalTrips = totalTrips + 1; }); %>
        <% if (totalTrips>0) {%>
        <div class="medCircle" style="position:absolute; margin-top:275px; margin-left:205px;" data-toggle="modal" data-target=".bs-modal-sm-1"></div>
        <div class="modal fade bs-modal-sm-1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abouttitle" id="myModalLabel"><%= db[0].date.getMonth()+1%>/<%= db[0].date.getDate()%>/<%= db[0].date.getFullYear()%></h4>
              </div>
              <div class="modal-body">
                <p>You travelled from <%= db[0].origin %> to <%= db[0].destination%> by <%= db[0].method %>, and emitted <%= db[0].carbon %> kg of CO<sub>2</sub>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <%} if (totalTrips>1) {%>
        <div class="smallCircle" style="position:absolute; margin-top:220px; margin-left:322px;" data-toggle="modal" data-target=".bs-modal-sm-2"></div>
        <div class="modal fade bs-modal-sm-2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abouttitle" id="myModalLabel"><%= db[1].date.getMonth()+1%>/<%= db[1].date.getDate()%>/<%= db[1].date.getFullYear()%></h4>
              </div>
              <div class="modal-body">
                <p>You travelled from <%= db[1].origin %> to <%= db[1].destination%> by <%= db[1].method %>, and emitted <%= db[1].carbon %> kg of CO<sub>2</sub>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <%} if (totalTrips>2) {%>
        <div class="smallCircle" style="position:absolute; margin-top:250px; margin-left:385px;" data-toggle="modal" data-target=".bs-modal-sm-3"></div>
            <div class="modal fade bs-modal-sm-3" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title abouttitle" id="myModalLabel"><%= db[2].date.getMonth()+1%>/<%= db[2].date.getDate()%>/<%= db[2].date.getFullYear()%></h4>
          </div>
          <div class="modal-body">
            <p>You travelled from <%= db[2].origin %> to <%= db[2].destination %> by <%= db[2].method %>, and emitted <%= db[2].carbon %> kg of CO<sub>2</sub>.
            </p>
          </div>
        </div>
      </div>
    </div>
        <%} if (totalTrips>3) {%>
        <div class="medCircle" style="position:absolute; margin-top:150px; margin-left:330px;" data-toggle="modal" data-target=".bs-modal-sm-4"></div>
         <div class="modal fade bs-modal-sm-4" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abouttitle" id="myModalLabel"><%= db[3].date.getMonth()+1%>/<%= db[3].date.getDate()%>/<%= db[3].date.getFullYear()%></h4>
              </div>
              <div class="modal-body">
                <p>You travelled from <%= db[3].origin %> to <%= db[3].destination %> by <%= db[3].method %>, and emitted <%= db[3].carbon %> kg of CO<sub>2</sub>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <%} if (totalTrips>4) {%>
        <div class="bigCircle" style="position:absolute; margin-top:175px; margin-left:195px;" data-toggle="modal" data-target=".bs-modal-sm-5"></div>
         <div class="modal fade bs-modal-sm-5" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abouttitle" id="myModalLabel"><%= db[4].date.getMonth()+1%>/<%= db[4].date.getDate()%>/<%= db[4].date.getFullYear()%></h4>
              </div>
              <div class="modal-body">
                <p>You travelled from <%= db[4].origin %> to <%= db[4].destination %> by <%= db[4].method %>, and emitted <%= db[4].carbon %> kg of CO<sub>2</sub>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <%} if (totalTrips>5) {%>
        <div class="smallCircle" style="position:absolute; margin-top:210px; margin-left:410px;" data-toggle="modal" data-target=".bs-modal-sm-6"></div>
        <div class="modal fade bs-modal-sm-6" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abouttitle" id="myModalLabel"><%= db[5].date.getMonth()+1%>/<%= db[5].date.getDate()%>/<%= db[5].date.getFullYear()%></h4>
              </div>
              <div class="modal-body">
                <p>You travelled from <%= db[5].origin %> to <%= db[5].destination %> by <%= db[5].method %>, and emitted <%= db[5].carbon %> kg of CO<sub>2</sub>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <%} if (totalTrips>6) {%>
        <div class="bigCircle" style="position:absolute; margin-top:230px; margin-left:105px;" data-toggle="modal" data-target=".bs-modal-sm-7"></div>
        <div class="modal fade bs-modal-sm-7" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abouttitle" id="myModalLabel"><%= db[6].date.getMonth()+1%>/<%= db[6].date.getDate()%>/<%= db[6].date.getFullYear()%></h4>
              </div>
              <div class="modal-body">
                <p>You travelled from <%= db[6].origin %> to <%= db[6].destination%> by <%= db[6].method %>, and emitted <%= db[6].carbon %> kg of CO<sub>2</sub>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <%} if (totalTrips>7) {%>
        <div class="bigCircle" style="position:absolute; margin-top:310px; margin-left:335px;" data-toggle="modal" data-target=".bs-modal-sm-8"></div>
        <div class="modal fade bs-modal-sm-8" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abouttitle" id="myModalLabel"><%= db[7].date.getMonth()+1%>/<%= db[7].date.getDate()%>/<%= db[7].date.getFullYear()%></h4>
              </div>
              <div class="modal-body">
                <p>You travelled from <%= db[7].origin %> to <%= db[7].destination %> by <%= db[7].method %>, and emitted <%= db[7].carbon %> kg of CO<sub>2</sub>.
                </p>
              </div>
            </div>
          </div>
        </div>  
        <%} if (totalTrips>8) {%>
        <div class="medCircle" style="position:absolute; margin-top:355px; margin-left:145px;" data-toggle="modal" data-target=".bs-modal-sm-9"></div>
        <div class="modal fade bs-modal-sm-9" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abouttitle" id="myModalLabel"><%= db[8].date.getMonth()+1%>/<%= db[8].date.getDate()%>/<%= db[8].date.getFullYear()%></h4>
              </div>
              <div class="modal-body">
                <p>You travelled from <%= db[8].origin %> to <%= db[8].destination %> by <%= db[8].method %>, and emitted <%= db[8].carbon %> kg of CO<sub>2</sub>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <%} if (totalTrips>9) {%>
        <div class="medCircle" style="position:absolute; margin-top:370px; margin-left:280px;" data-toggle="modal" data-target=".bs-modal-sm-10"></div>
        <div class="modal fade bs-modal-sm-10" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abouttitle" id="myModalLabel"><%= db[9].date.getMonth()+1%>/<%= db[9].date.getDate()%>/<%= db[9].date.getFullYear()%></h4>
              </div>
              <div class="modal-body">
                <p>You travelled from <%= db[9].origin %> to <%= db[9].destination %> by <%= db[9].method %>, and emitted <%= db[9].carbon %> kg of CO<sub>2</sub>.
                </p>
              </div>
            </div>
          </div>
        </div>
        
        <!--11 to 15-->
        <%} if (totalTrips>10) {%>
        <div class="bigCircle" style="position:absolute; margin-top:55px; margin-left:260px;" data-toggle="modal" data-target=".bs-modal-sm-11"></div>
        <div class="modal fade bs-modal-sm-11" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abouttitle" id="myModalLabel"><%= db[10].date.getMonth()+1%>/<%= db[10].date.getDate()%>/<%= db[10].date.getFullYear()%></h4>
              </div>
              <div class="modal-body">
                <p>You travelled from <%= db[10].origin %> to <%= db[10].destination %> by <%= db[10].method %>, and emitted <%= db[10].carbon %> kg of CO<sub>2</sub>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <%} if (totalTrips>11) {%>
        <div class="medCircle" style="position:absolute; margin-top:85px; margin-left:175px;" data-toggle="modal" data-target=".bs-modal-sm-12"></div>
        <div class="modal fade bs-modal-sm-12" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abouttitle" id="myModalLabel"><%= db[11].date.getMonth()+1%>/<%= db[11].date.getDate()%>/<%= db[11].date.getFullYear()%></h4>
              </div>
              <div class="modal-body">
                <p>You travelled from <%= db[11].origin %> to <%= db[11].destination %> by <%= db[11].method %>, and emitted <%= db[11].carbon %> kg of CO<sub>2</sub>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <%} if (totalTrips>12) {%>
        <div class="bigCircle" style="position:absolute; margin-top:130px; margin-left:95px;" data-toggle="modal" data-target=".bs-modal-sm-13"></div>
        <div class="modal fade bs-modal-sm-13" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abouttitle" id="myModalLabel"><%= db[12].date.getMonth()+1%>/<%= db[12].date.getDate()%>/<%= db[12].date.getFullYear()%></h4>
              </div>
              <div class="modal-body">
                <p>You travelled from <%= db[12].origin %> to <%= db[12].destination %> by <%= db[12].method %>, and emitted <%= db[12].carbon %> kg of CO<sub>2</sub>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <%} if (totalTrips>13) {%>
        <div class="bigCircle" style="position:absolute; margin-top:230px; margin-left:445px;" data-toggle="modal" data-target=".bs-modal-sm-14"></div>
        <div class="modal fade bs-modal-sm-14" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abouttitle" id="myModalLabel"><%= db[13].date.getMonth()+1%>/<%= db[13].date.getDate()%>/<%= db[13].date.getFullYear()%></h4>
              </div>
              <div class="modal-body">
                <p>You travelled from <%= db[13].origin %> to <%= db[13].destination %> by <%= db[13].method %>, and emitted <%= db[13].carbon %> kg of CO<sub>2</sub>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <%} if (totalTrips>14) {%>
        <div class="bigCircle" style="position:absolute; margin-top:125px; margin-left:430px;" data-toggle="modal" data-target=".bs-modal-sm-15"></div>
        <div class="modal fade bs-modal-sm-15" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abouttitle" id="myModalLabel"><%= db[14].date.getMonth()+1%>/<%= db[14].date.getDate()%>/<%= db[14].date.getFullYear()%></h4>
              </div>
              <div class="modal-body">
                <p>You travelled from <%= db[14].origin %> to <%= db[14].destination %> by <%= db[14].method %>, and emitted <%= db[14].carbon %> kg of CO<sub>2</sub>.
                </p>
              </div>
            </div>
          </div>
        </div>
        
        <!--16 to 20-->
        <%} if (totalTrips>15) {%>
        <div class="bigCircle" style="position:absolute; margin-top:45px; margin-left:365px;" data-toggle="modal" data-target=".bs-modal-sm-16"></div>
        <div class="modal fade bs-modal-sm-16" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abouttitle" id="myModalLabel"><%= db[15].date.getMonth()+1%>/<%= db[15].date.getDate()%>/<%= db[15].date.getFullYear()%></h4>
              </div>
              <div class="modal-body">
                <p>You travelled from <%= db[15].origin%> to <%= db[15].destination %> by <%= db[15].method %>, and emitted <%= db[15].carbon %> kg of CO<sub>2</sub>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <%} if (totalTrips>16) {%>
        <div class="medCircle" style="position:absolute; margin-top:330px; margin-left:455px;" data-toggle="modal" data-target=".bs-modal-sm-17"></div>
        <div class="modal fade bs-modal-sm-17" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abouttitle" id="myModalLabel"><%= db[16].date.getMonth()+1%>/<%= db[16].date.getDate()%>/<%= db[16].date.getFullYear()%></h4>
              </div>
              <div class="modal-body">
                <p>You travelled from <%= db[16].origin %> to <%= db[16].destination %> by <%= db[16].method %>, and emitted <%= db[16].carbon %> kg of CO<sub>2</sub>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <%} if (totalTrips>17) {%>
        <div class="medCircle" style="position:absolute; margin-top:315px; margin-left:60px;" data-toggle="modal" data-target=".bs-modal-sm-18"></div>
        <div class="modal fade bs-modal-sm-18" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abouttitle" id="myModalLabel"><%= db[17].date.getMonth()+1%>/<%= db[17].date.getDate()%>/<%= db[17].date.getFullYear()%></h4>
              </div>
              <div class="modal-body">
                <p>You travelled from <%= db[17].origin %> to <%= db[17].destination %> by <%= db[17].method %>, and emitted <%= db[17].carbon %> kg of CO<sub>2</sub>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <%} if (totalTrips>18) {%>
        <div class="medCircle" style="position:absolute; margin-top:250px; margin-left:35px;" data-toggle="modal" data-target=".bs-modal-sm-19"></div>
        <div class="modal fade bs-modal-sm-19" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abouttitle" id="myModalLabel"><%= db[18].date.getMonth()+1%>/<%= db[18].date.getDate()%>/<%= db[18].date.getFullYear()%></h4>
              </div>
              <div class="modal-body">
                <p>You travelled from <%= db[18].origin %> to <%= db[18].destination %> by <%= db[18].method %>, and emitted <%= db[18].carbon %> kg of CO<sub>2</sub>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <%} if (totalTrips>19) {%>
        <div class="smallCircle" style="position:absolute; margin-top:195px; margin-left:55px;" data-toggle="modal" data-target=".bs-modal-sm-20"></div>
        <div class="modal fade bs-modal-sm-20" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abouttitle" id="myModalLabel"><%= db[19].date.getMonth()+1%>/<%= db[19].date.getDate()%>/<%= db[19].date.getFullYear()%></h4>
              </div>
              <div class="modal-body">
                <p>You travelled from <%= db[19].origin %> to <%= db[19].destination %> by <%= db[19].method %>, and emitted <%= db[19].carbon %> kg of CO<sub>2</sub>.
                </p>
              </div>
            </div>
          </div>
        </div>
        
        <!--21 to 25-->
        <%} if (totalTrips>20) {%>
        <div class="smallCircle" style="position:absolute; margin-top:45px; margin-left:220px;" data-toggle="modal" data-target=".bs-modal-sm-21"></div>
        <div class="modal fade bs-modal-sm-21" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abouttitle" id="myModalLabel"><%= db[20].date.getMonth()+1%>/<%= db[20].date.getDate()%>/<%= db[20].date.getFullYear()%></h4>
              </div>
              <div class="modal-body">
                <p>You travelled from <%= db[20].origin %> to <%= db[20].destination %> by <%= db[20].method %>, and emitted <%= db[20].carbon %> kg of CO<sub>2</sub>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <%} if (totalTrips>21) {%>
        <div class="medCircle" style="position:absolute; margin-top:380px; margin-left:410px;" data-toggle="modal" data-target=".bs-modal-sm-22"></div>
        <div class="modal fade bs-modal-sm-22" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abouttitle" id="myModalLabel"><%= db[21].date.getMonth()+1%>/<%= db[21].date.getDate()%>/<%= db[21].date.getFullYear()%></h4>
              </div>
              <div class="modal-body">
                <p>You travelled from <%= db[21].origin %> to <%= db[21].destination %> by <%= db[21].method %>, and emitted <%= db[21].carbon %> kg of CO<sub>2</sub>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <%} if (totalTrips>22) {%>
        <div class="smallCircle" style="position:absolute; margin-top:380px; margin-left:100px;" data-toggle="modal" data-target=".bs-modal-sm-23"></div>
        <div class="modal fade bs-modal-sm-23" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abouttitle" id="myModalLabel"><%= db[22].date.getMonth()+1%>/<%= db[22].date.getDate()%>/<%= db[22].date.getFullYear()%></h4>
              </div>
              <div class="modal-body">
                <p>You travelled from <%= db[22].origin %> to <%= db[22].destination %> by <%= db[22].method %>, and emitted <%= db[22].carbon %> kg of CO<sub>2</sub>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <%} if (totalTrips>23) {%>
        <div class="smallCircle" style="position:absolute; margin-top:195px; margin-left:515px;" data-toggle="modal" data-target=".bs-modal-sm-24"></div>
        <div class="modal fade bs-modal-sm-24" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abouttitle" id="myModalLabel"><%= db[23].date.getMonth()+1%>/<%= db[23].date.getDate()%>/<%= db[23].date.getFullYear()%></h4>
              </div>
              <div class="modal-body">
                <p>You travelled from <%= db[23].origin%> to <%= db[23].destination %> by <%= db[23].method %>, and emitted <%= db[23].carbon %> kg of CO<sub>2</sub>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <%} if (totalTrips>24) {%>
        <div class="smallCircle" style="position:absolute; margin-top:80px; margin-left:125px;" data-toggle="modal" data-target=".bs-modal-sm-25"></div>
        <div class="modal fade bs-modal-sm-25" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abouttitle" id="myModalLabel"><%= db[24].date.getMonth()+1%>/<%= db[24].date.getDate()%>/<%= db[24].date.getFullYear()%></h4>
              </div>
              <div class="modal-body">
                <p>You travelled from <%= db[24].origin %> to <%= db[24].destination %> by <%= db[24].method %>, and emitted <%= db[24].carbon %> kg of CO<sub>2</sub>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      
    </div> <!--end #container-->
    <div class='jumbotron foot' style="background:#33AD5C;height:100px;color:#000">
      <br>
      <a class="btn btn-default btn-lg" href="/choices" role="button">Back to main menu</a>
    </div>
    


    <!-- Small modals -->
    

    

    
     

  </body>

</html>




