<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/badges.css" />
    <link href='https://fonts.googleapis.com/css?family=Michroma|Open+Sans' rel='stylesheet' type='text/css'/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

    <title>GreenBuggle</title> 

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/choices"><img src="/images/bugglelogo-w.png" height="35px" align="top" alt="logo"> GreenBuggle</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li data-toggle="modal" data-target="#myModal"><a href="#">About</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Welcome <%= user.name%>!<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/logout">Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </head>

  <body>

    <div class='container' >

      <div id="tree" style="width:600px;position:relative;">

        <% var totalTrips = 0 %>
        <% db.forEach(function (trip){ 
          totalTrips = totalTrips + 1; }); %>
        <% if (totalTrips>0) {%>
        <div class="medCircle" style="position:absolute; margin-top:275px; margin-left:205px;" data-toggle="modal" data-target=".bs-modal-sm-1"></div>
        <div class="modal fade bs-modal-sm-1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abouttitle" id="myModalLabel">On <%= db[0].getMonth()+1%>/<%= db[0].getDate()%>/<%= db[0].getFullYear()%></h4>
              </div>
              <div class="modal-body">
                <p>You travelled from <%= db[0].origin.substr(0, db[0].origin.indexOf(',')) %> to <%= db[0].destination.substr(0, db[0].destination.indexOf(',')) %> by <%= db[0].method %>, and emitted <%= db[0].carbon %> kg of CO<sub>2</sub>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <%} 

    <!-- Small modals -->
    

    

    
     

  </body>

</html>




