<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/triphistory.css" />
    <link href='https://fonts.googleapis.com/css?family=Michroma|Open+Sans' rel='stylesheet' type='text/css'/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

    <title>GreenBuggle</title> 

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/choices"><img src="/images/bugglelogo-w.png" height="35px" align="top" alt="logo"> GreenBuggle</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Welcome <%= user.name%>!<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/logout">Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </head>

  <body>
    

    <div id="container">
      <h1>Past Trips</h1>
      <br><br>
      
      <% var totalCarbon = 0 %>
        <% var totalTrips = 0 %>
        <% db.forEach(function (trip){ 
          totalCarbon = totalCarbon + trip.carbon;
          totalTrips = totalTrips + 1; }); 
          totalCarbon = Math.round(totalCarbon * 100) / 100;
          if (totalTrips>0){ %>
      <h4>Based on your <%=totalTrips %> <%if (totalTrips==1){ %>trip<%} else { %>
        trips<%}%>, you emitted
         <%=totalCarbon %> kg of CO<sub>2</sub>.
      </h4>
      <% } else { %>
      <h2>You have no past trips!
      </h2>
      <% } %>

      <br><br>
                 
        <table class="trips">

         <% db.forEach(function (trip){ %>
         <tr class="default">
          <% if (trip.method=='car') { %>
            <td class="dateb"><%= trip.date.getMonth()+1%>/<%= trip.date.getDate()%>/<%= trip.date.getFullYear()%></td>
            <td class="actionb">You travelled from <%= trip.origin.substr(0, trip.origin.indexOf(',')) %> to <%= trip.destination.substr(0, trip.destination.indexOf(',')) %> by <%= trip.method %>, and emitted <%= trip.carbon %> kg of CO<sub>2</sub>.</td> 
            <% } else { %>
            <td class="dateg"><%= trip.date.getMonth()+1%>/<%= trip.date.getDate()%>/<%= trip.date.getFullYear()%></td>
            <td class="actiong">You travelled from <%= trip.origin.substr(0, trip.origin.indexOf(',')) %> to <%= trip.destination.substr(0, trip.destination.indexOf(',')) %> by <%= trip.method %>, and emitted <%= trip.carbon %> kg of CO<sub>2</sub>.</td> 
            
            <%}%>
          </tr>
          <tr class="spacing"></tr>
          <% }); %>
        </table>


        

      <button type="button" class="btn btn-primary btn-lg" onclick="turnGreen()">
        TestButton
      </button>
    </div>

    <script>
      function turnGreen() {
        $("#date1").css("border-left", "3px solid #093");
        $("#date1").css("border-top", "3px solid #093");
        $("#date1").css("border-bottom", "3px solid #093");
        $("#action1").css("border-right", "3px solid #093");
        $("#action1").css("border-top", "3px solid #093");
        $("#action1").css("border-bottom", "3px solid #093");
      }
    </script>


      

  </body>

</html>




